<div class="admin-page-container">
    <h1>Mode administrateur</h1>
    <div>
        <h2>Jeux-questionnaires disponibles :</h2>
        <p>
            Voici la liste des différents jeux-questionaires disponibles à la création d'une partie. Vous pouvez en ajouter ou modifier/supprimer ceux
            déjà existants.
        </p>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="gameOptions">
                <th mat-header-cell *matHeaderCellDef>Options</th>
                <td mat-cell *matCellDef="let game">
                    <button mat-raised-button (click)="modify(game)">Modifier le jeu</button>
                    <button mat-raised-button (click)="deleteGame(game)">Supprimer le jeu</button>
                    <button mat-raised-button (click)="exportGame(game)">Exporter le jeu</button>
                    <button (click)="toggleVisibility(game)" mat-raised-button>
                        {{ game.visible ? 'Rendre invisible' : 'Rendre visible' }}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="gameName">
                <th mat-header-cell *matHeaderCellDef>Nom du jeu</th>
                <td mat-cell *matCellDef="let game">{{ game.name }}</td>
            </ng-container>

            <ng-container matColumnDef="gameDate">
                <th mat-header-cell *matHeaderCellDef>Date de modification</th>
                <td mat-cell *matCellDef="let game">{{ game.lastModification }}</td>
            </ng-container>

            <ng-container matColumnDef="gameVisible">
                <th mat-header-cell *matHeaderCellDef>Visiblilité</th>
                <td mat-cell *matCellDef="let game">
                    {{ game.visible ? '✔️' : '' }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <br /><br />
    <div>
        <button mat-raised-button (click)="create()">Ajouter un jeu</button>
        <button mat-raised-button (click)="importDialog()">Importer un jeu</button>
    </div>
</div>
