<div class="modal">
    <button class="close-button" (click)="closeModalRequest.emit()">x</button>
    <div class="modal-content">
        <h2>Entrer le mot de passe d'administration</h2>
        <form (ngSubmit)="onSubmit()">
            <input type="password" placeholder="Mot de passe" [(ngModel)]="password" name="password">
            <button type="submit">Connexion</button>
        </form>
        <div *ngIf="isPasswordWrong" class="error-message">
            Mot de passe incorrect. Veuillez réessayer.
        </div>
    </div>
</div>
